<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8" />
	@*<meta name="viewport" content="width=device-width" />*@
	<title>@ViewBag.Title</title>

	<script src="~/libs/angularjs/angular.min.js"></script>
	<link href="~/libs/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	@RenderSection("inhead", required:false)
</head>
<body>
	@RenderBody()

	@*	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)*@
</body>
	@RenderSection("outofbody", required:false)